{% extends 'admin-datatable.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('admin/plugins/datepicker/css/bootstrap-datepicker3.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
{% endblock %}

{% block title %}
Remplaclinic :: Admin :: Directeur
{% endblock %}

{% block page_title %}
Directeur
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="btn-group mr-3">
                            <button type="button" class="btn btn-default btn-flat">Action multiple</button>
                            <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Activer</a>
                                <a class="dropdown-item" href="#">Desactiver</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item btn-delete" href="#" data-url="{{ path('api_user_delete_multiple') }}" data-multiple="true" data-selector=".director-selection">Supprimer</a>
                            </div>
                        </div>

                        <a class="btn btn-secondary btn-flat" id="btn-director-new" href="{{ path('app_admin_director_new') }}">
                            <i class="fas fa-plus"></i> Ajouter un directeur
                        </a>

                        <a class="btn btn-default btn-flat ml-3" id="btn-director-search">
                            <i class="fas fa-search"></i>
                            <span class="mx-1">Filtrer la liste</span>
                            <span class="badge badge-secondary" id="filtre-user-counter">0</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table id="tbl-directors" class="table table-hover"
                            data-url="{{ path('api_director_get') }}"
                            data-delete-url="{{ path('api_user_delete', {id: '0000000000'}) }}"
                            data-detail-url="{{ path('app_admin_director_show', {id: '0000000000'}) }}">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input custom-control-input-secondary checkbox-selection-tout" type="checkbox" id="director-selection-tout" data-selector=".director-selection">
                                            <label for="director-selection-tout" class="custom-control-label"></label>
                                        </div>
                                    </th>
                                    <th>#ID</th>
                                    <th>#ACTIF</th>
                                    <th class="text-uppercase">#Nom - Prénom</th>
                                    <th>#COURRIEL</th>
                                    <th>#DATE D'INCRIPTION</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include 'admin/user/director/_search-modal.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
{{ parent() }}
<script src="{{ asset('admin/plugins/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('admin/plugins/select2/js/select2.full.min.js') }}"></script>
<script src="{{ versioned_asset('admin/custom/js/director.js') }}"></script>
{% endblock %}