{% extends 'base-page-node.html.twig' %}

{% block title %}
Conditions générales d'utilisation | Remplaclinic
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Conditions générales d'utilisation</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-10 w-[830px] mr-14">
        <div class="field-item even">
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 1. Définitions et préambule</h3>
            <p class="mb-5">
                <span class="font-bold">« RemplaClinic » : </span>désigne l'ensemble du site internet «&nbsp;<a class="blue-span" href="{{ path('app_home') }}">www.remplaclinic.com</a>&nbsp;» exploité par la société KALEROBI SAS.
            </p>
            <p class="mb-5">
                <span class="font-bold">« InstalClinic » : </span>désigne l'ensemble du site internet «&nbsp;<a class="blue-span" href="http://www.instalclinic.fr">www.instalclinic.fr&nbsp;</a>» exploité par la société KALEROBI SAS.
            </p>
            <p class="mb-5">
                <span class="font-bold">« Membre(s) » : </span>désigne un (ou l'ensemble des) utilisateur(s) du Service RemplaClinic et/ou InstalClinic qui se sont volontairement inscrits en tant que « remplaçant » et/ou « candidat » potentiel à un remplacement médical ou une installation médicale.
            </p>
            <p class="mb-5">
                <span class="font-bold">« Service(s) » : </span>désigne l'ensemble des Services, payants ou gratuits, accessibles aux Membres de RemplaClinic et/ou InstalClinic.
                <br>
                <span class="font-bold">« Vous » : </span>Toute personne physique ou morale visitant le site internet <a class="blue-span" href="{{ path('app_home') }}">www.remplaclinic.com</a> et/ou <a class="blue-span" href="http://www.instalclinic.fr">www.instalclinic.fr</a> direct ou via un portail partenaire.
            </p>
            <p class="mb-5">
                <span class="font-bold">« Etablissement de Santé »</span> : désigne les Etablissements de Santé Clients du service Remplaclinic et/ou InstalClinic, qui adhèrent à une offre d'abonnement au service Remplaclinic et/ou InstalClinic.
            </p>
            <p class="mb-5">
                <span class="font-bold">Préambule</span>
                <br>
                En visitant le site RemplaClinic (<a class="blue-span" href="{{ path('app_home') }}">www.remplaclinic.com</a>) et/ou InstalClinic (<a class="blue-span" href="http://www.instalclinic.fr/">www.instalclinic.fr</a>) vous reconnaissez :
                <br><span class="font-bold">•</span> avoir connaissance tant du principe que de la nature et du fonctionnement d'Internet, dont Vous acceptez les caractéristiques et les limites, notamment en ce qui concerne les délais de réponse, de consultation ou de transfert des données ;
                <br><span class="font-bold">•</span> avoir connaissance de la diversité des contenus accessibles sur Internet, lesquels peuvent être susceptibles notamment de porter atteinte aux mineurs et à l'éthique ou à la morale ;
                <br><span class="font-bold">•</span> avoir connaissance du fait que RemplaClinic (et/ou InstalClinic) n'exerce ni ne peut exercer aucun contrôle, de quelque forme que ce soit, sur la nature ou les caractéristiques des données accessibles sur Internet et qui pourraient transiter par ses Services et qu'en conséquence, RemplaClinic et InstalClinic ne peuvent assumer aucune responsabilité qui découlerait directement ou indirectement de ces données ;
                <br><span class="font-bold">•</span> avoir connaissance du fait que les données circulant sur Internet ne sont pas protégées contre d'éventuels détournements et qu'il en résulte que la communication de toute information est faite à vos risques et périls ;
                <br><span class="font-bold">•</span> avoir connaissance du fait que des virus peuvent être introduits par des tiers sur Internet et reconnaître en conséquence qu'il Vous appartient de prendre toutes mesures propres à assurer la protection des données logiciels stockées sur votre matériel informatique; par ailleurs Vous Vous engagez expressément à ne pas enregistrer de document ayant un virus ;
                <br><span class="font-bold">•</span> avoir connaissance de l'existence d'un code d'éthique développé par la communauté des utilisateurs d'Internet (la Netiquette) dont la violation pourrait notamment avoir pour conséquence votre exclusion des autres services disponibles sur Internet, et ce sans que RemplaClinic (et/ou InstalClinic) puisse en être tenue pour responsable ;
                <br><span class="font-bold">•</span> qu'en utilisant le présent site Web, Vous en assumez les risques relatifs à la complétude, exactitude, adéquation ou actualité des informations.- que les informations composant le site constituent une base de données, propriété de RemplaClinic et InstalClinic en sa qualité de producteur au sens de l'article L.341-1 du Code de la propriété intellectuelle. En conséquence, Vous Vous interdisez (i) l'extraction par transfert permanent ou temporaire de la totalité ou d'une partie qualitativement ou quantitativement substantielle du site sur un autre support, par tout moyen et sous toute forme, et (ii) la réutilisation de la totalité ou d'une partie qualitativement ou quantitativement substantielle du site quelle qu'en soit la forme, y compris par un lien hypertexte.A ce titre, Vous Vous engagez expressément à respecter ou faire respecter les lois, les règlements et notamment les droits de la personnalité, les droits d'auteur, les droits des propriétaires de signes distinctifs et à pouvoir, à tout moment, sur simple demande écrite de RemplaClinic (et/ou InstalClinic), apporter la preuve de la réalité des vérifications que Vous avez opérées, au besoin par sondage, et des efforts que Vous aurez accompli dès la révélation d'une atteinte au droit de tiers pour faire cesser cette atteinte ainsi que les recommandations déontologiques qui figurent dans la Netiquette.
                <br> Dans ce cadre, Vous reconnaissez avoir lu et accepté irrévocablement les Conditions Générales d'Utilisation (CGU).
            </p>
            <p class="mb-3">&nbsp;</p>
            <h3 class="text-[blue] font-bold text-2xl mb-3"> Article 2. Accès et inscription aux Services de RemplaClinic (et/ou InstalClinic)</h3>
            <p class="mb-3">Pour être Membre de RemplaClinic (et/ou InstalClinic), Vous devez être âgé(e) au minimum de 18 ans et remplir l'ensemble des champs obligatoires figurant dans les formulaires d'inscription.</p>
            <p class="mb-3">Vous devez, en outre, remplir les trois conditions cumulatives afin d'avoir la capacité de pouvoir exercer la médecine en France (Source : site internet du Conseil national de l'Ordre des médecins) :</p>
            <p class="mb-3">Pour exercer en France, le médecin doit satisfaire aux <span class="font-bold">trois conditions cumulatives</span> prévues à l'article L. 4111-1 du code de la santé publique :</p>
            <p class="mb-3">- avoir la nationalité prévue par cet article de loi ;</p>
            <p class="mb-3">- être titulaire des diplômes prévus à l'article L. 4131-1 du code de la santé publique ;</p>
            <p class="mb-3">- être inscrit au tableau d'un conseil départemental de l'Ordre des médecins.</p>
            <p class="mb-3">Tous les médecins exerçant sur le territoire français doivent être inscrits au tableau de l'Ordre.</p>
            <p class="mb-3">Par dérogation, des médecins qui ne satisfont pas à l'ensemble de ces conditions peuvent être autorisés à exercer la profession de médecin, par arrêté individuel du ministre de la Santé.</p>
            <p class="mb-3">
                <span class="font-bold">Sont dispensés de cette obligation :</span>
            </p>
            <p class="mb-3">- les médecins appartenant aux cadres actifs du service de santé des armées (article L. 4112-6 du code de la santé publique) ;</p>
            <p class="mb-3">- les médecins ayant la qualité de fonctionnaire de l'Etat ou d'agent titulaire d'une collectivité locale qui ne sont pas appelés dans l'exercice de leurs fonctions à pratiquer la médecine ;</p>
            <p class="mb-3">- les médecins ressortissants d'un Etat membre de l'Union européenne ou partie à l'Accord sur l'Espace économique européen effectuant une libre prestation de services (article L. 4112-7 du code de la santé publique).</p>
            <p class="mb-3">
                Le Membre garantit que les données qu'il communique sont exactes et conformes à la réalité. Il s'engage à informer RemplaClinic (et/ou InstalClinic) sans délai en cas de modification des données qu'il a communiquées lors de son inscription et, le cas échéant, à procéder lui-même aux dites modifications au sein de son espace personnel des sites RemplaClinic (et/ou InstalClinic).
                
                <br>Lorsque les conditions nécessaires à l'inscription sont remplies, chaque Membre dispose d'un identifiant (login) et d'un mot de passe, qui sont strictement personnels et confidentiels et qui ne devront pas être communiqués ni partagés avec des tiers.
                <br>Le Membre accepte et reconnait qu'il est responsable du respect du caractère confidentiel des mots de passe associés à tout compte qu'il utilise pour avoir accès aux Services.En conséquence, le Membre reconnait être le seul et unique responsable à l'égard de RemplaClinic (et/ou InstalClinic) de tous actes effectués à partir de son compte.
            </p>
            <p class="mb-3">&nbsp;</p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 3. Utilisation de RemplaClinic (et/ou InstalClinic)</h3>
            <p class="mb-3">Une fois inscrit, le Membre ou Etablissement de Santé bénéficiera d'un accès aux Services disponibles sur RemplaClinic (et/ou InstalClinic) selon les conditions exprimées dans le présent contrat.</p>
            <p class="mb-3">
                • Les sites RemplaClinic et InstalClinic ont une obligation de moyen dans la fourniture de service.
                <br>• RemplaClinic et InstalClinic ne sont en aucun cas responsable de la qualité des prestations fournies par les médecins ou des actes médicaux réalisés par les médecins inscrits sur les sites RemplaClinic (et/ou InstalClinic), ni du respect par les acheteurs de leurs obligations.
                <br>• Les sites RemplaClinic et InstalClinic ne sont pas assimilables à une agence de personnel intérimaire et décline toute responsabilité au regard de l'accomplissement des remplacements médicaux et/ou des actes médicaux réalisés par les médecins inscrits sur les sites RemplaClinic (et/ou InstalClinic), et/ou effectués par l'intermédiaire des sites <a class="blue-span" href="{{ path('app_home') }}">www.remplaclinic.com</a> ou <a class="blue-span" href="http://www.instalclinic.fr/">www.instalclinic.fr</a>
                <br>• RemplaClinic et InstalClinic précisent que les Etablissements de Santé se doivent de vérifier minutieusement les informations fournies par les "Membres" inscrits et notamment leur qualité de médecin, leur autorisation de remplacer en France, leur(s) diplôme(s), leur inscription à l'Ordre National des Médecins et leur identité et plus généralement leur droit d'exercer la médecine en France.
                <br>• De plus, comme pour tout recrutement, RemplaClinic et InstalClinic précisent qu'il est indispensable pour les Etablissements de Santé clients de vérifier, par différents entretiens, les informations professionnelles indiqués par un « Membre » inscrit sur RemplaClinic et/ou InstalCllinic avant de le recruter.
            </p>
            <p class="mb-3">
                <span class="font-bold">3.1. Obligations de RemplaClinic (et/ou InstalClinic)</span>
                <br>RemplaClinic (et/ou InstalClinic) assure à distance et par voie électronique un service de mise en relation entre les Etablissements de Santé et les Membres remplaçants dans la perspective d'un remplacement via des services de communications électroniques.
                <br>RemplaClinic (et/ou InstalClinic) sur la base des informations qui lui auront été communiquées par les Membres les mettra à disposition des Etablissements de Santé afin que ces derniers puissent déterminer l'adéquation entre ces dernières et leurs besoins.
                <br>La réalisation ou la mise en place du remplacement effectif s'effectuera par voie électronique dans le cadre d'un échange confidentiel entre les Etablissements de Santé et les Membres, sans intervention aucune de RemplaClinic (et/ou InstalClinic).
                <br>L'objet de RemplaClinic (et/ou InstalClinic) n'est pas la fourniture d'un remplacement effectif ni d'un travail effectif, mais uniquement une base de données regroupant l'ensemble des informations afférentes aux Membres susceptibles d'être intéressés par des remplacements, bases de données destinées aux Etablissements de Santé susceptibles d'y avoir recours. Il ne s'agit en conséquence que d'une simple mise en relation.
                <br>L'activité de RemplaClinic (et/ou InstalClinic) ne recouvre pas la fourniture d'un remplacement effectif ni la fourniture d'un accès au réseau Internet, ni la fourniture d'un Service de communication électronique au public.
                <br>En conséquence, RemplaClinic (et/ou InstalClinic) n'a pas pour obligation légale d'identifier les Membres lorsqu'ils se connectent au site Internet RemplaClinic (et/ou InstalClinic) ou de contrôler les contenus édités par les Membres. RemplaClinic (et/ou InstalClinic) ne pouvant techniquement assurer de telles prestations, RemplaClinic (et/ou InstalClinic) ne s'engage pas contractuellement à vérifier l'identité des Membres ou la véracité des contenus qu'ils éditent sous leur responsabilité exclusive.
            </p>
            <p class="mb-3">
                <span class="font-bold">3.2. Obligations du Membre et de l'Etablissement de Santé</span>
                <br>Les dispositions du présent article s'appliquent sans préjudice de l'article "Résiliation".
                <br>Dans le cadre de l'utilisation des Services, le Membre s'engage à se conformer aux lois en vigueur, à respecter les droits des tiers et les dispositions des présentes Conditions d'Utilisation.
            </p>
            <p class="mb-3">
                <em>3.2.1. Obligations générales</em>
                <br>Le Membre et l'Etablissement de Santé ont, de manière générale, pour obligation de :
                <br>Se comporter de façon loyale à l'égard de RemplaClinic (et/ou InstalClinic) et des autres Membres et Etablissements de Santé.
                <br>Respecter les droits de propriété intellectuelle afférents aux contenus fournis par RemplaClinic (et/ou InstalClinic) et par les Membres et Etablissements de Santé.
            </p>
            <p class="mb-3">
                <em>3.2.2. Obligations fondamentales</em>
                <br>Le Membre et les Etablissements de Santé ont pour obligations fondamentales de :
                <br>Ne pas utiliser RemplaClinic (et/ou InstalClinic) à des fins commerciales ou non professionnelles.
                <br>Ne poster, n'indiquer ou ne diffuser sous quelque forme que ce soit que des informations ou contenus conformes à la réalité.
                <br>Ne pas tenir ou proférer des propos ou diffuser sous quelque forme que ce soit des contenus contrevenant aux droits d'autrui ou à caractère diffamatoire, injurieux, obscène, offensant, violent ou incitant à la violence, politique, raciste ou xénophobe et de manière générale tout contenu contraire à l'objet de RemplaClinic (et/ou InstalClinic), aux lois et règlements en vigueur, aux droits personnes ou aux bonnes mœurs.
                <br>Utiliser les Services conformément à la finalité décrite dans les présentes Conditions d'Utilisation.
                <br>De modifier leurs données personnelles dans la mesure où le changement serait de nature à affecter un éventuellement remplacement.
                <br>Le manquement aux Obligations Fondamentales ainsi définies constitue un manquement grave du Membre ou de l'Etablissement de Santé à ses obligations. Sans préjudice des dispositions de l'article " Résiliation ", en cas de manquement par un Membre ou Etablissement de Santé à une ou plusieurs de ces obligations fondamentales, RemplaClinic (et/ou InstalClinic) pourra résilier le contrat et supprimera définitivement le compte du Membre concerné.
            </p>
            <p class="mb-3">&nbsp;</p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 4. Durée et modalités de renouvellement du contrat entre l'Etablissement de Santé et RemplaClinic (et/ou InstalClinic)</h3>
            <p class="mb-3">
                <span class="font-bold">4.1 Durée</span>
                <br>Le contrat entre l'Etablissement de Santé et RemplaClinic (et/ou InstalClinic) est par défaut prévu pour une durée de 12 mois
            </p>
            <p class="mb-3">
                <span class="font-bold">4.2 Modalités de renouvellement du contrat entre l'Etablissement de Santé et RemplaClinic (et/ou InstalClinic)</span>
            </p>
            <p class="mb-3">
                Le Contrat à défaut de résiliation par lettre recommandé avec demande d'avis de réception adressée, au siège de la société Kalerobi S.A.S., dans les trois mois précédents la date anniversaire du contrat, sera tacitement renouvelé pour une durée équivalente.
            </p>
            <p class="mb-3">&nbsp;</p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 5. Vie privée et protection des données du Membre</h3>
            <p class="mb-3">
                RemplaClinic (et/ou InstalClinic) respecte les normes européennes et françaises les plus contraignantes de protection de la vie privée et des données personnelles et a fait l'objet d'une déclaration auprès de l'autorité française de protection des données personnelles (la Commission Nationale de l'Informatique et des Libertés -  CNIL) sous le numéro 1384481.
                <br>Chaque Membre peut, par courrier postal adressé à : RemplaClinic (et/ou InstalClinic) ou en remplissant le formulaire contact, en prenant le soin d'indiquer ses identifiants personnels, accéder ou demander à accéder aux informations le concernant pour les faire modifier ou supprimer ou en interdire telle ou telle utilisation par RemplaClinic (et/ou InstalClinic).
                <br>Chaque Membre peut, lors de son inscription ou à tout moment ultérieurement, demander à recevoir des offres par email et/ou sur son mobile portant sur des produits ou services fournis par des partenaires de RemplaClinic (et/ou InstalClinic).
                <br>Ultérieurement, chaque Membre peut demander gratuitement via RemplaClinic (et/ou InstalClinic) à recevoir ou à ne pas recevoir la newsletter de RemplaClinic (et/ou InstalClinic) et/ou les offres promotionnelles qui lui sont adressées par email et/ou sur son mobile de la part de RemplaClinic (et/ou InstalClinic) et/ou de ses partenaires en gérant ses options dans la rubrique « Mon Compte ».
            </p>
            <p class="mb-3">
                <span class="font-bold">5.1. Quand et pourquoi recueillons-nous des informations à votre sujet ?</span>
                <br>Le Membre est amené à fournir des informations le concernant lorsqu'il s'inscrit au Service, obligatoires pour participer au Service.
            </p>
            <p class="mb-3">
                <span class="font-bold">5.2. Quelle sorte d'informations recueillons-nous ?</span>
                <br>Les informations personnelles recueillies par RemplaClinic (et/ou InstalClinic) peuvent inclure votre nom, adresse postale et/ou électronique, numéro de téléphone fixe et/ou portable et votre utilisation du Service.
                <br>RemplaClinic (et/ou InstalClinic) utilise des cookies, destinés à stocker des informations identifiant le Membre durant la consultation du site Internet RemplaClinic (et/ou InstalClinic) afin de lui éviter d'avoir à les saisir manuellement à chaque page consultée. Le Membre dispose toutefois de la possibilité d'empêcher l'utilisation des cookies en modifiant les options de son logiciel de navigation sur Internet. Sur ce point, voir les conseils de modification de ces options selon le navigateur utilisé, accessibles dans la rubrique "vos traces" du site de l'autorité française de protection des données personnelles (la CNIL) : <a href="http://www.cnil.fr/">www.cnil.fr</a>.
            </p>
            <p class="mb-3">
                <span class="font-bold">5.3. Qui a accès à ces informations ?</span>
                <br><em>5.3.1.</em> Les informations recueillies à votre sujet lors de votre inscription à RemplaClinic (et/ou InstalClinic) et de vos souscriptions à nos Services sont utilisées pour Vous offrir nos différents Services. Toutes les précautions ont été prises sur nos bases de données pour archiver vos informations dans un environnement sécurisé. Seuls certains de nos employés ont accès à vos informations, qui leur sont accessibles uniquement en cas de besoin. Les informations personnelles fournies lors de votre inscription qui ne constituent pas votre profil ne seront pas accessibles à des tiers, ni transmises, ni vendues ou échangées, sauf dans les cas visés ci-dessous et sous réserve de votre information préalable et de votre accord préalable, ou à défaut d'opposition de votre part.
            </p>
            <p class="mb-3">
                <em>5.3.2.</em> Nous sommes susceptibles de Vous faire parvenir sous réserve de votre libre accord préalable et informé lors de votre inscription et sauf si Vous Vous y opposez ultérieurement, sans frais autres que la transmission de la demande lors votre inscription ou à tout autre moment, des offres promotionnelles de certains de nos partenaires. Si Vous préférez ne pas recevoir les offres que nous sélectionnons pour Vous ou que nos partenaires sont susceptibles de Vous adresser, Vous pouvez l'indiquer lors de votre inscription, ou, ultérieurement, à tout moment, dans votre rubrique "Mon compte" sur le site RemplaClinic (et/ou InstalClinic) ou par courrier postal à l'adresse mentionnée à l'article 12 ci-dessous.
            </p>
            <p class="mb-3">
                <em>5.3.3.</em> RemplaClinic (et/ou InstalClinic) peut parfois partager des informations sociodémographiques générales non nominatives avec des partenaires sélectionnés pour leur permettre de cibler leurs annonces (par catégories d'âge, de sexe, etc.). Dans ces cas, nous ne leur transmettons pas d'informations qui leur permettraient de Vous identifier.
            </p>
            <p class="mb-3">
                <em>5.3.4.</em> Les informations composant votre profil sont accessibles sur RemplaClinic (et/ou InstalClinic), sur le Web, par email (newsletters), ou par téléphone mobile. En outre, ces données sont susceptibles d'être diffusées par nos soins ou par le biais de nos partenaires auprès de personnes intéressées par RemplaClinic (et/ou InstalClinic), par le biais de newsletters ou de sites Web tiers ou par toute voie de communication électronique (e-mail, SMS, etc.), afin d'accroître vos chances de rencontres en faisant la promotion de vos annonces, critères de recherche et présentation.
                <br>En conséquence, le Membre autorise expressément RemplaClinic (et/ou InstalClinic) à reproduire et diffuser les informations composant ses critères de recherche et sa présentation (informations, description, images, vidéos, etc.) sur tout ou partie du Service RemplaClinic (et/ou InstalClinic) (sur le site RemplaClinic (et/ou InstalClinic), sur le Web, par email, Audiotel) et/ou sur tous supports de communication électronique (e-mail, Internet), pour le monde entier et pour la durée d'exécution des présentes Conditions d'Utilisation entre le Membre et RemplaClinic (et/ou InstalClinic). En outre, le Membre autorise expressément RemplaClinic (et/ou InstalClinic) à concéder le bénéfice des droits précédemment visés aux partenaires de RemplaClinic (et/ou InstalClinic) intervenant dans le cadre de la fourniture du service RemplaClinic (et/ou InstalClinic).
                <br>Si Vous ne souhaitez plus que RemplaClinic (et/ou InstalClinic) ou ses partenaires reproduisent ou diffusent les informations composant votre présentation, Vous pouvez résilier votre compte RemplaClinic (et/ou InstalClinic) dans les conditions prévues à l'article "Résiliation". S'agissant des informations composant votre annonce, vos critères de recherche et votre présentation, la résiliation produira ses effets dès la prochaine mise à jour ou édition des supports de communication concernés (imprimée, par voie de presse, audiovisuelle ou électronique) comportant les informations composant votre annonce, vos critères de recherche et votre présentation.
            </p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 6. Propriété intellectuelle</h3>
            <p class="mb-3">
                <span class="font-bold">6.1 Contenus diffusés par RemplaClinic (et/ou InstalClinic)</span>
                <br>Les marques, les logos, les graphismes, les photographies, les animations, contenus sur le site et dans le Service RemplaClinic (et/ou InstalClinic) sont la propriété intellectuelle de RemplaClinic (et/ou InstalClinic) ou de ses partenaires et ne peuvent être reproduits, utilisés ou représentés sans l'autorisation expresse de RemplaClinic (et/ou InstalClinic) ou de ses partenaires, sous peine de poursuites judiciaires.
                <br>Les droits d'utilisation concédés par RemplaClinic (et/ou InstalClinic) au Membre et Etablissements de Santé sont réservés à un usage privé et personnel dans le cadre et pour la durée de l'adhésion à RemplaClinic (et/ou InstalClinic). Toute autre utilisation par le Membre est interdite sans l'autorisation de RemplaClinic (et/ou InstalClinic).
                <br>Le Membre et les Etablissements de Santé s'interdisent notamment de modifier, copier, reproduire, télécharger, diffuser, transmettre, exploiter commercialement et/ou distribuer de quelque façon que ce soit les Services, les pages du site RemplaClinic (et/ou InstalClinic), ou les codes informatiques des éléments composant les Services et le site RemplaClinic (et/ou InstalClinic).
            </p>
            <p class="mb-3">
                <span class="font-bold">6.2 Contenus diffusés par les Membres et Etablissements de Santé</span>
                <br>Les Membres et Etablissements de Santé concèdent à RemplaClinic (et/ou InstalClinic) une licence d'utilisation des droits de propriété intellectuelle attachés aux contenus fournis par le Membre ou Etablissement de Santé concerné aux fins de diffusion sur le Site RemplaClinic (et/ou InstalClinic). Cette licence comprend notamment le droit pour RemplaClinic (et/ou InstalClinic) de reproduire, représenter, adapter, traduire, numériser, utiliser aux fins du Service ou de sous-licencier les contenus concernant le Membre (informations, description, critères de recherche), sur tout ou partie du Service RemplaClinic (et/ou InstalClinic) (sur le site RemplaClinic (et/ou InstalClinic), par email, par Audiotel) et/ou dans les mailings de RemplaClinic (et/ou InstalClinic) et de manière générale sur tous supports de communication électronique (e-mail SMS, MMS, WAP, Internet) dans le cadre du Service.
                <br>Le Membre ou Etablissement de Santé autorise expressément RemplaClinic (et/ou InstalClinic) à modifier lesdits contenus afin de respecter la charte graphique des Services RemplaClinic (et/ou InstalClinic) ou des autres supports de communication visés ci-dessus et/ou de les rendre compatibles avec ses performances techniques ou les formats des supports concernés. Ces droits sont concédés pour le monde entier et pour toute la durée d'exécution des présentes Conditions générales d'Utilisation entre le Membre, l'Etablissement de Santé et RemplaClinic (et/ou InstalClinic). Le Membre et l'Etablissement de Santé s'interdisent de copier, reproduire, ou autrement utiliser les contenus relatifs aux autres Membres ou Etablissements de Santé autrement que pour les stricts besoins d'utilisation des Services à des fins personnelles et privées.
            </p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 7. Responsabilité et garantie</h3>
            <p class="mb-3">
                <span class="font-bold">7.1 Fonctionnement du site RemplaClinic (et/ou InstalClinic) et des Services</span>
                <br>Pour utiliser les Services, le Membre ou Etablissement de Santé doit posséder un équipement des logiciels et des paramétrages nécessaires au bon fonctionnement de RemplaClinic (et/ou InstalClinic) : Navigateur IE6 ou équivalent, activation des fonctions Java script, réception de cookies de session et acceptation de l'affichage de fenêtres "pop-ups". L'utilisation de RemplaClinic (et/ou InstalClinic) sur un MAC nécessite l'utilisation exclusive du navigateur Mozilla Firefox - RemplaClinic (et/ou InstalClinic) ne garantit pas un fonctionnement optimal avec les navigateurs SAFARI ou OPERA.
                <br>Le Membre ou Etablissement de Santé doit disposer des compétences, des matériels et des logiciels requis pour l'utilisation d'Internet, ou le cas échéant, de services Internet, téléphoniques et par Audiotel et reconnaît que les caractéristiques et les contraintes d'Internet ne permettent pas de garantir la sécurité, la disponibilité et l'intégrité des transmissions de données durant leur transit sur Internet.
                <br>RemplaClinic (et/ou InstalClinic) ne garantit pas que les Services seront utilisables si l'abonné utilise un utilitaire de "pop-up killer" ; dans ce cas, cette fonction devra être désactivée préalablement à l'utilisation du Service.
                <br>RemplaClinic (et/ou InstalClinic) ne garantit pas que les Services seront utilisables si le fournisseur d'accès Internet du Membre se montre défaillant dans l'accomplissement de sa propre prestation. Dans ces conditions, RemplaClinic (et/ou InstalClinic) n'est pas responsable d'un non fonctionnement, d'une impossibilité d'accès, ou de mauvaises conditions d'utilisation du site RemplaClinic (et/ou InstalClinic) imputables à un équipement non adapté, à des dysfonctionnements internes au fournisseur d'accès du Membre ou Etablissement de Santé, à l'encombrement du réseau Internet, et pour toutes autres raisons extérieures à RemplaClinic (et/ou InstalClinic) ayant le caractère d'un cas de force majeure tel que défini par les juridictions françaises.
                <br>L'exploitation des Services pourra être momentanément interrompue pour cause de maintenance, de mises à jour ou d'améliorations techniques, ou pour en faire évoluer le contenu et/ou leur présentation. Dans la mesure du possible, RemplaClinic (et/ou InstalClinic) informera ses Membres préalablement à une opération de maintenance ou de mise à jour.
            </p>
            <p class="mb-3">
                <span class="font-bold">7.2 Informations et contenus fournis par les Membres et Etablissements de Santé</span>
                <br><em>7.2.1.</em> Les informations fournies par un Membre ou Etablissement de Santé à RemplaClinic (et/ou InstalClinic) doivent être exactes et conformes à la réalité. Les conséquences de leur divulgation sur sa vie et/ou celle des autres Membres ou Etablissement de Santé sont de la responsabilité exclusive du Membre ou Etablissement de Santé concerné. Le Membre ou Etablissement de Santé prend l'initiative de divulguer et de diffuser via RemplaClinic (et/ou InstalClinic) des informations, données, textes, contenus et images le concernant. En conséquence, il renonce à tout recours à l'encontre de RemplaClinic (et/ou InstalClinic), notamment sur le fondement de l'atteinte éventuelle à son droit à l'image, à son honneur, à sa réputation, à l'intimité de sa vie privée, résultant de la diffusion ou de la divulgation d'informations le concernant dans les conditions prévues par les présentes, notamment par l'article "Vie privée et protection des données du Membre", dans la mesure où le Membre a préalablement, librement et explicitement consenti à une telle divulgation du fait de son inscription au Service et en application des présentes Conditions d'Utilisation.
            </p>
            <p class="mb-3">
                <em>7.2.2.</em> RemplaClinic (et/ou InstalClinic) ne peut être tenue pour responsable de (et des conséquences de) l'exactitude ou de l'inexactitude des informations et contenus fournis par les autres Membres ou Etablissements de Santé, les visiteurs du Site et/ou le Membre ou Etablissement de Santé lui-même. De même, RemplaClinic (et/ou InstalClinic) ne peut être tenue pour responsable des contenus diffusés par un Membre ou Etablissement de Santé susceptibles de contrevenir aux droits d'un ou plusieurs autres Membres ou Etablissements de Santé, ou des tiers et dont RemplaClinic (et/ou InstalClinic) rapporterait la preuve qu'elle n'en aurait pas été informée par un Membre ou Etablissement de Santé, ou par un tiers ou n'en aurait pas eu une connaissance effective et préalable ou qu'elle n'aurait pas commis de faute dans l'exécution de ses obligations contractuelles.
                <br>RemplaClinic (et/ou InstalClinic) ne pourra voir sa responsabilité engagée par un Membre ou Etablissement de Santé que dans l'hypothèse où la preuve certaine et définitive serait établie d'une faute commise par RemplaClinic (et/ou InstalClinic) ou par l'un de ses prestataires intervenant dans l'exécution des obligations contractuelles de RemplaClinic (et/ou InstalClinic), ayant causé au Membre ou Etablissement de Santé un dommage effectif et direct. Le cas échéant, il incombera à RemplaClinic (et/ou InstalClinic) de démontrer qu'elle n'a pas commis de faute dans l'exécution de ses obligations contractuelles. RemplaClinic (et/ou InstalClinic) ne sera pas responsable des dommages directs ou indirects subis par le Membre ou Etablissement de Santé lorsque le Membre ou Etablissement de Santé en est à l'origine ou lorsqu'ils résultent d'un cas de force majeure.
            </p>
            <p class="mb-3">
                <em>7.2.3.</em> La qualité du Service de RemplaClinic (et/ou InstalClinic) exigée tant par RemplaClinic (et/ou InstalClinic) que par ses Membres ou Etablissements de Santé, implique le respect d'une certaine éthique dans l'expression et le comportement des Membres et Etablissements de Santé, le respect des droits des tiers, ainsi que le respect des lois et règlements en vigueur.
            </p>
            <p class="mb-3">
                <em>7.2.4.</em> Dans le cas où la responsabilité de RemplaClinic (et/ou InstalClinic) serait recherchée à raison d'un manquement par un Membre ou Etablissement de Santé aux obligations qui lui incombent aux termes de la loi ou de ces Conditions d'Utilisation, ce dernier s'engage à garantir RemplaClinic (et/ou InstalClinic) contre toute condamnation prononcée à son encontre trouvant son origine dans le manquement imputé au Membre ou Etablissement de Santé.
            </p>
            <p class="mb-3">
                <strong>7.3 Liens</strong>
                <br>RemplaClinic (et/ou InstalClinic) n'est responsable que des liens hypertextes qu'elle crée et n'exerce aucun contrôle des sites et des sources externes vers lesquels redirigent des liens hypertextes accessibles sur le Service, et qu'elle n'aurait pas créés (les "Sites Externes"). Elle ne pourra être tenue pour responsable de la mise à disposition de liens dirigeant vers les Sites Externes et ne peut supporter aucune responsabilité quant à leur contenu, publicités, produits, Services ou tout autre élément disponible sur ou à partir de ces Sites Externes dont elle n'aurait pas une connaissance effective et préalable.
                <br>RemplaClinic (et/ou InstalClinic) Vous informe que le site peut faire l'objet d'affichage de bandeaux publicitaires. Dans ce cadre, Vous acceptez que RemplaClinic (et/ou InstalClinic) affiche lesdits bandeaux publicitaires. Les modalités et le champ de ces bandeaux publicitaires peuvent faire l'objet de modifications sans préavis.
            </p>
            <p class="mb-3">
                Toute difficulté relative à un lien doit être soumise à l'administrateur ou au webmaster du site dont il s'agit. Il est par ailleurs rappelé que la consultation et/ou l'utilisation de ces sites et sources externes sont régies par leurs propres Conditions d'Utilisation.
                <br>Enfin, si, dans le cadre d'une recherche conduite sur le site RemplaClinic (et/ou InstalClinic), le résultat de celle-ci amenait le Membre ou Etablissement de Santé à pointer sur des sites, des pages ou des forums dont le titre et/ou les contenus constituent une violation du droit français, le Membre ou Etablissement de Santé est invité à interrompre sa consultation du site concerné au risque de voir sa responsabilité engagée dans le cas contraire, celle de RemplaClinic (et/ou InstalClinic) étant exclue.
            </p>
            <p class="mb-3">&nbsp;</p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 8. Résiliation des Membres</h3>
            <p class="mb-3">
                Chaque Membre peut mettre fin à son inscription à RemplaClinic (et/ou InstalClinic) en demandant la clôture de son compte à tout moment auprès de RemplaClinic (et/ou InstalClinic), sans frais autres que ceux liés à la transmission de sa demande et sans motif, notamment via la rubrique "Mon compte" du Site RemplaClinic (et/ou InstalClinic) dédiée à cet effet ou par tout autre moyen qui pourra lui être indiqué dans cette rubrique.
                <br>Cette demande sera réputée effectuée dans la semaine suivant la réception par RemplaClinic (et/ou InstalClinic) de la demande de clôture du compte concerné.
                <br>Sans préjudice des autres dispositions des présentes, en cas de manquement grave du Membre, RemplaClinic (et/ou InstalClinic) résilie le compte du Membre sans préavis ni mise en demeure. Cette résiliation produit les mêmes effets que celle décidée par le Membre.
                <br>Sans préjudice des autres dispositions des présentes, en cas de manquement du Membre, RemplaClinic (et/ou InstalClinic) résilie le compte du Membre 7 (sept) jours après l'envoi au Membre d'un courrier électronique lui demandant de se conformer aux présentes Conditions d'Utilisation resté infructueux.
                <br>Cette résiliation interviendra sans préjudice de tous les dommages et intérêts qui pourraient être réclamés par RemplaClinic (et/ou InstalClinic) au Membre ou ses ayants droit et représentants légaux en réparation des  préjudices éventuels subis par RemplaClinic (et/ou InstalClinic) ou ces derniers du fait de tels manquements.
                <br>Le Membre sera informé par courrier électronique de la résiliation ou de la confirmation de la résiliation de son compte. Les données relatives au Membre seront détruites à sa demande ou à l'expiration des délais légaux courant à compter de la résiliation du compte du Membre.
            </p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 9. Convention entre le Membre, l'Etablissement de Santé et RemplaClinic (et/ou InstalClinic)</h3>
            <p class="mb-3">
                Ces Conditions Générales d'Utilisation constituent un contrat régissant les relations entre le Membre, l'Etablissement de Santé et RemplaClinic (et/ou InstalClinic).
                <br>Certains services peuvent nécessiter la conclusion d'un accord distinct, le cas échéant encadré par des Conditions Générales de Vente.
                <br>Si une ou plusieurs stipulations des présentes Conditions d'Utilisation était déclarée nulle en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée, dans la mesure permise par ladite décision. En outre, le fait pour une Partie de ne pas se prévaloir d'un manquement de l'autre Partie à l'une quelconque des dispositions des présentes Conditions d'Utilisation ne saurait s'interpréter comme une renonciation de sa part à se prévaloir dans l'avenir d'un tel manquement.
            </p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 10. Modifications de RemplaClinic (et/ou InstalClinic) ou des Conditions Générales d'Utilisation</h3>
            <p class="mb-3">
                RemplaClinic (et/ou InstalClinic) pourra modifier à tout moment les présentes Conditions Générales d'Utilisation. Le Membre ou Etablissement de Santé sera informé de la nature de ces modifications dès leur mise en ligne sur le site RemplaClinic (et/ou InstalClinic). Les modifications entreront en vigueur un mois après leur mise en ligne sur le Site.. Le Membre ou Etablissement de Santé est invité à se rendre régulièrement sur cette page afin de prendre connaissance des éventuelles modifications apportées aux présentes Conditions Générales d'Utilisation.
            </p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 11. Droit applicable - attribution de juridiction</h3>
            <p class="mb-3">
                Ces Conditions d'Utilisation sont régies, interprétées et appliquées conformément au droit français, la langue d'interprétation étant la langue française en cas de contestation sur la signification d'un terme ou d'une disposition des présentes Conditions Générales d'Utilisation.
                <br>Le présent site a été créé en France. En utilisant le présent site Web, le Membre ou Etablissement de Santé accepte les Conditions Générales d'Utilisation décrites ci-avant. Tout litige portant sur l'interprétation ou l'exécution d'un engagement contractuel prévu au présent site sera de la compétence exclusive des tribunaux français faisant application de la loi française.
            </p>
            <p class="mb-3">&nbsp;</p>
            <h3 class="text-[blue] font-bold text-2xl mb-3">Article 12. Qui sommes-nous ?</h3>
            <p class="mb-3">
                RemplaClinic (et/ou InstalClinic), Société Kalerobi SAS, immatriculée au RCS de Paris sous le numéro 514 325 000 dont le siège social est situé au 14 avenue de l'Opéra, 75001 Paris, France, représentée par Monsieur Matthieu KAROUBI, Président et Directeur de la publication des sites RemplaClinic et InstalClinic.
                <br>Les sites RemplaClinic et InstalClinic sont hébergés sur les serveurs de la société OVH.
            </p>
            <p class="mb-3">
                Pour toute question, contacter RemplaClinic (et/ou InstalClinic) en remplissant le formulaire prévu à cet effet sur <a class="blue-span" href="{{ path('app_home') }}">www.remplaclinic.com</a> ou sur <a class="blue-span" href="http://www.instalclinic.fr/">www.instalclinic.fr</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}