<header>
    <section class="section-1">
        <div class="w-[1170px] mx-auto">
            <div class="flex flex-col md:flex-row justify-between pb-2">
                <div class="flex flex-col items-center gap-2 mr-[20px]">
                    <div class=" mt-10">
                        <a href="{{ path('app_home') }}">
                            <img src="{{ asset('images/logo.png') }}" alt="logo" />
                        </a>
                    </div>
                    <div>
                        <p>
                            <a target="_blank" href="http://instalclinic.fr" title="installation médicale"
                                class="rounded-full underline-node uppercase p-1 px-5 text-sm  bg-[#C5C7C8] text-[#ffff]">Accès
                                à
                                instalclinic.com</a>
                        </p>
                    </div>
                </div>

                <div class="ml-[35px] pt-2">
                    <a href="{{ path('app_home') }}" class="w-full h-full">
                        <img src="{{ asset('images/logo-droite-v4.png') }}" alt="annonce medicale, medecin remplacant"
                            class="w-full h-full object-contain" />
                    </a>
                </div>

                <div id="login-root">
                    <div class="min-w-[245px] max-w-[245px]">
                        <h2 class="font-normal text-white uppercase pl-[45px] leading-[35px] text-[18px]">Mon compte</h2>
                        {% include 'partials/_form-login.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="fond-menu flex justify-center items-center">
        {% set currentRoute = app.request.attributes.get('_route') %}
        <nav class="p-4 flex justify-center items-center space-x-6 overflow-hidden">
            <a href="{{ path('app_home') }}"
                class="text-white rounded-md px-2 py-3 xl:px-4 active:underline font-bold transition duration-300 {{ currentRoute == 'app_home' ? 'bg-[#ff9d32]' : 'hover:bg-[#ff9d32]' }}">Accueil</a>
            <a href="{{ path('app_how_does_it_work') }}"
                class="text-white rounded-md px-2 py-3 xl:px-4 active:underline font-bold transition duration-300 {{ currentRoute == 'app_how_does_it_work' ? 'bg-[#ff9d32]' : 'hover:bg-[#ff9d32]' }}">Comment
                ça marche ?</a>
            <a href="http://instalclinic.fr"
                class="text-white rounded-md px-2 py-3 xl:px-4 active:underline font-bold transition duration-300 hover:bg-[#ff9d32]">Installation
                médicale</a>
            <a href="{{ path('app_replacement_search') }}"
                class="text-white rounded-md px-2 py-3 xl:px-4 active:underline font-bold transition duration-300 {{ currentRoute == 'app_replacement_search' ? 'bg-[#ff9d32]' : 'hover:bg-[#ff9d32]' }}">Je
                cherche un remplaçant</a>
            <a href="{{ path('app_replacement') }}"
                class="text-white rounded-md px-2 py-3 xl:px-4 active:underline font-bold transition duration-300 {{ currentRoute == 'app_replacement' ? 'bg-[#ff9d32]' : 'hover:bg-[#ff9d32]' }}">Je
                suis remplaçant</a>
            <a href="{{ path('app_replacement_licence') }}"
                class="text-white rounded-md px-2 py-3 xl:px-4 active:underline font-bold transition duration-300 {{ currentRoute == 'app_replacement_licence' ? 'bg-[#ff9d32]' : 'hover:bg-[#ff9d32]' }}">Obtenir
                sa licence</a>
            <a href="{{ path('app_contacts') }}"
                class="text-white rounded-md px-2 py-3 xl:px-4 active:underline font-bold transition duration-300 {{ currentRoute == 'app_contacts' ? 'bg-[#ff9d32]' : 'hover:bg-[#ff9d32]' }}">Nous
                contacter</a>
        </nav>
    </div>
</header>
