<article class="flex flex-col gap-5 w-[270px]">
	<div>
		<twig:PartenaireLogoSlide></twig:PartenaireLogoSlide>
	</div>
	<div class="flex flex-col w-72 text-white pt-5">
		{% include 'partials/box-infos-utiles.html.twig' %}
	</div>
	<div class="block-partenariat flex justify-center p-3 pt-20">
		<p>&nbsp;</p>
		<div class="flex flex-row h-full">
			<div class="flex flex-col justify-center gap-6">
				<img src="{{ asset('images/picto-part-1.png') }}" alt="....."/>
				<img src="{{ asset('images/picto-part-2.png') }}" alt="...."/><img src="{{ asset('images/picto-part-3.png') }}" alt="...."/>
			</div>
			<div class="flex flex-col justify-center pl-4 w-48 blue-span">
				<a href="{{ path('app_contacts_assistance', { s: 'comptable' }) }}">Besoin d'une assistance comptable ?</a><br/>
				<a href="{{ path('app_contacts_assistance', { s: 'juridique' }) }}">Besoin d'une assistance juridique ?</a><br/>
				<a href="{{ path('app_contacts_assistance', { s: 'assurance' }) }}">Besoin d'une assurance professionnelle ?</a>
			</div>
		</div>
	</div>
</article>
