<article class="flex flex-col gap-5">
    <aside class="bg-blue p-3 pt-5 pb-5 flex flex-col gap-4 items-center">
        <div class="text-white flex items-center flex-col">
            <span>
                <span class="text-3xl">{{ nombreRemplacants }}</span>
                <span class="text-xl">remplaçants</span>
            </span>
            <strong class="text-xl">disponibles immédiatement</strong>
        </div>
        <form class="flex flex-col gap-3 items-center w-60" action="{{ path('search_replacement') }}">
            <div class="flex flex-col gap-2">
                <div class="w-56">
                    <label>
                        <select class="p-1 w-full inputShadow text-color">
                            {% for region in regions %}
                                <option value="{{ region.value }}">{{ region.label }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="w-56">
                    <label>
                        <select class="p-1 inputShadow w-full text-color">
                            {% for specialite in specialites %}
                                <option value="{{ specialite.value }}">{{ specialite.label }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <input type="submit" value="Rechercher" class="form-submit pl-3 pr-3 p-1 text-xl text-white" />
            </div>
        </form>
    </aside>

    <div>
        <div class="text-center text-color">
            <p>Quelques références</p>
        </div>

        <div class="relative w-[270px] h-[130px]">
            {% for partenaire in partenaires %}
                <div class="absolute top-0 left-0  z-[6] opacity10 w-[270px] h-[130px]">
                    <div class="w-full h-full flex items-center justify-center">
                        <img src="{{ asset(partenaire.src) }}" class="w-[300px] h-[130px]" alt="{{ partenaire.alt }}" />
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="flex flex-col w-72 text-white pt-5">
        <div class="bg-img">
            <h2 class="relative left-16 top-5 text-xl">Infos utiles</h2>
        </div>
        <div class="bg-blue p-4 pb-10">
            <p>
                Que vous soyez remplacé ou remplaçant, pour un remplacement saisonnier ou régulier,
                retrouvez toutes les informations utiles selon votre situation…<br />
                <a href="{{ path('app_information_utile') }}" class="text-color underline">En savoir plus…</a>
            </p>
        </div>
    </div>
</article>
