{% extends 'mails/base.html.twig' %}

{% block body %}
	<tr>
		<td colspan="2" style="font-family: 'ubuntu', sans-serif; text-align:center;padding:15px;font-size:18px;">Notification nouveau compte</td>
	</tr>
	<tr>
		<td colspan="2" style="font-family: 'ubuntu', sans-serif;text-align:left;padding:15px;">
			Bonjour,
			<br><br>
			Un nouveau compte {{ type_compte }} a été créé :
			<br><br>
			Nom de l'établissement : <b>{{ nom_etablissement }}</b>
			<br>
			Prénom, Nom : <b>{{ prenom ~ ' ' ~ nom }} </b>
			<br>
			E-mail : <b>{{ mail }}</b>
			<br>
			Code postal : <b>{{ cp }}</b>
			<br>
			Fixe : <b>{{ tel_fixe }}</b>
			<br>
			Portable : <b>{{ tel_port }}</b>
			<br>
			{% if specialites is defined %}
				Spécialité :<b>{{ specialites }}</b>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td style="vertical-align:middle;padding:15px;text-align:center;font-family: 'ubuntu', sans-serif;" colspan="2">
			<a href="{{ detail_url }}">
				<img src="{{ asset('imgs/mails/detail.jpg') }}" alt="detail contact" title="Détail du contact" />
			</a>
		</td>
	</tr>
{% endblock %}