<div class="row" id="root">
    <div class="col-12">
        <div class="card">
            {% if user is defined %}
            <div
                class="card-body"
                ref="formEl"
                data-url="{{ path('api_director_update', {id: user.id}) }}"
                data-detail-url="{{ path('api_director_detail', {id: user.id}) }}"
                data-clinic-url="{{ path('api_user_liste_select') }}"
            >
            {% else %}
            <div
                class="card-body"
                ref="formEl"
                data-url="{{ path('api_director_new') }}"
                data-clinic-url="{{ path('api_user_liste_select') }}"
            >
            {% endif %}
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <div id="general-information">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-secondary"
                                                v-on:click="changeCollapse(1)">
                                                <i class="fas mr-2"
                                                    v-bind:class="[shownCollapse == -1 || shownCollapse == 1 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                Informations générales
                                            </button>
                                        </h5>
                                    </div>

                                    <Transition name="collapse">
                                        <div v-show="shownCollapse == -1 || shownCollapse == 1">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="director-position">Fonction / Nom du chef de
                                                                service</label>
                                                            <input type="text" class="form-control"
                                                                id="director-position" placeholder="John / RH"
                                                                v-model="userData.position"
                                                                :class="getErrorClass('position')">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-civility">Civilité *</label>
                                                            <select id="director-civility" class="form-control"
                                                                v-model="userData.civility"
                                                                :class="getErrorClass('civility')">
                                                                <option selected disabled v-bind:value="null">-
                                                                    Choisir
                                                                    une valeur -</option>
                                                                <option value="M">Monsieur</option>
                                                                <option value="Mme">Madame</option>
                                                                <option value="Mlle">Mademoiselle</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-surname">Prénom *</label>
                                                            <input type="text" class="form-control"
                                                                id="director-surname" placeholder="John"
                                                                v-model="userData.surname"
                                                                :class="getErrorClass('surname')">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-name">Nom *</label>
                                                            <input type="text" class="form-control"
                                                                id="director-name" placeholder="Doe"
                                                                v-model="userData.name"
                                                                :class="getErrorClass('name')">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-telephone">Téléphone *</label>
                                                            <input type="text" class="form-control"
                                                                id="director-telephone"
                                                                placeholder="Ex : 0642260032"
                                                                v-model="userData.telephone"
                                                                :class="getErrorClass('telephone')">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-telephone2">Mobile</label>
                                                            <input type="text" class="form-control"
                                                                id="director-telephone2"
                                                                placeholder="Ex : 0642260032"
                                                                v-model="userData.telephone2">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-fax">Fax</label>
                                                            <input type="text" class="form-control"
                                                                id="director-fax" v-model="userData.fax">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-organisme">Organisme</label>
                                                            <input type="text" class="form-control"
                                                                id="director-organisme"
                                                                v-model="userData.organisme">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 pl-5">
                                                        <div class="form-group">
                                                            <label for="director-address">Adresse *</label>
                                                            <input type="text" class="form-control"
                                                                id="director-address" placeholder="1234 Main Street"
                                                                v-model="userData.thoroughfare"
                                                                :class="getErrorClass('thoroughfare')">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-premise">Adresse 2</label>
                                                            <input type="text" class="form-control"
                                                                id="director-premise" v-model="userData.premise">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-postal-code">Code postal *</label>
                                                            <input type="text" class="form-control"
                                                                id="director-postal-code"
                                                                v-model="userData.postalCode"
                                                                :class="getErrorClass('postalCode')">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="director-locality">Ville *</label>
                                                            <input type="text" class="form-control"
                                                                id="director-locality" v-model="userData.locality"
                                                                :class="getErrorClass('locality')">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="director-email">E-mail *</label>
                                                            <input type="email" class="form-control"
                                                                id="director-email" placeholder="john.doe@mail.com"
                                                                v-model="userData.email"
                                                                :class="getErrorClass('email')">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="director-password">Mot de passe *</label>
                                                            <input type="password" class="form-control"
                                                                id="director-password" v-model="userData.password"
                                                                :class="getErrorClass('password')">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <label for="director-password-confirmation">Confirmer
                                                                *</label>
                                                            <input type="password" class="form-control"
                                                                id="director-password-confirmation"
                                                                v-model="userData.passwordConfirmation"
                                                                :class="getErrorClass('passwordConfirmation')">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div>
                                                            <label>Statut</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="directorStatus" id="directorStatus1" value="1"
                                                                v-model="userData.status">
                                                            <label class="form-check-label" for="directorStatus1">
                                                                Actif
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="directorStatus" id="directorStatus2" value="0"
                                                                v-model="userData.status">
                                                            <label class="form-check-label" for="directorStatus2">
                                                                Bloqué
                                                            </label>
                                                        </div>
                                                        <div v-if="getErrorClass('status') === 'is-invalid'"
                                                            class="text-danger">
                                                            Choisir un statut
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div>
                                                            <label>Rôles</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-role-4" value="4"
                                                                v-model="userData.roles">
                                                            <label class="form-check-label" for="director-role-4">
                                                                Remplaçant
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-role-5" value="5"
                                                                v-model="userData.roles">
                                                            <label class="form-check-label" for="director-role-5">
                                                                Clinique / Service clinique
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-role-6" value="6"
                                                                v-model="userData.roles">
                                                            <label class="form-check-label" for="director-role-6">
                                                                Cabinet
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-role-7" value="7"
                                                                v-model="userData.roles">
                                                            <label class="form-check-label" for="director-role-7">
                                                                Directeur
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-role-3" value="3"
                                                                v-model="userData.roles">
                                                            <label class="form-check-label" for="director-role-3">
                                                                Administrator
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-role-8" value="8"
                                                                v-model="userData.roles">
                                                            <label class="form-check-label" for="director-role-8">
                                                                Webmaster
                                                            </label>
                                                        </div>
                                                        <div v-if="getErrorClass('roles') === 'is-invalid'"
                                                            class="text-danger">
                                                            Choisir un role
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </Transition>
                                </div>
                                <div>
                                    <div id="supplementary-information">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-secondary"
                                                v-on:click="changeCollapse(3)">
                                                <i class="fas mr-2"
                                                    v-bind:class="[shownCollapse == -1 || shownCollapse == 3 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                Informations supplémentaires
                                            </button>
                                        </h5>
                                    </div>
                                    <Transition name="collapse">
                                        <div v-show="shownCollapse == -1 || shownCollapse == 3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="director-comment">Commentaire</label>
                                                            <textarea class="form-control editor"
                                                                id="director-comment" rows="10"
                                                                v-model="userData.comment"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </Transition>
                                </div>
                                <div>
                                    <div id="abonnemnt-information">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-secondary"
                                                v-on:click="changeCollapse(4)">
                                                <i class="fas mr-2"
                                                    v-bind:class="[shownCollapse == -1 || shownCollapse == 4 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                Abonnement
                                            </button>
                                        </h5>
                                    </div>
                                    <Transition name="collapse">
                                        <div v-show="shownCollapse == -1 || shownCollapse == 4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-subscription-status" true-value="1"
                                                                false-value="0"
                                                                v-model="userData.subscriptionStatus">
                                                            <label class="form-check-label"
                                                                for="director-subscription-status">
                                                                Abonnement actif
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                id="director-subscription-notification"
                                                                true-value="1" false-value="0"
                                                                v-model="userData.subscriptionEndNotification">
                                                            <label class="form-check-label"
                                                                for="director-subscription-notification">
                                                                Email fin abonnement
                                                            </label>
                                                        </div>
                                                        <div class="form-group mt-3">
                                                            <label for="director-subscription-end">Valable
                                                                jusqu'au</label>
                                                            <div class="input-group date"
                                                                id="director-subscription-end"
                                                                data-target-input="nearest">
                                                                <input type="text"
                                                                    class="form-control datetimepicker-input"
                                                                    data-target="#director-subscription-end"
                                                                    id="director-subscription-end-input"
                                                                    v-model="userData.subscriptionEndAt" />
                                                                <div class="input-group-append"
                                                                    data-target="#director-subscription-end"
                                                                    data-toggle="datetimepicker">
                                                                    <div class="input-group-text"><i
                                                                            class="fa fa-calendar"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </Transition>
                                </div>

                                <div>
                                    <div id="clinique-liste">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-secondary"
                                                v-on:click="changeCollapse(5)">
                                                <i class="fas mr-2"
                                                    v-bind:class="[shownCollapse == -1 || shownCollapse == 5 ? 'fa-arrow-circle-down' : 'fa-arrow-circle-right']"></i>
                                                Cliniques
                                            </button>
                                        </h5>
                                    </div>
                                    <Transition name="collapse">
                                        <div v-show="shownCollapse == -1 || shownCollapse == 5">
                                            <div class="card-body">
                                                <div class="row" v-for="(clinique, index) in userData.cliniques" :key="index">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <select
                                                                class="form-control director-clinique"
                                                                v-bind:id="`director-clinique-${index}`"
                                                                v-model="clinique.id"
                                                                v-bind:data-key-index="index"
                                                            >
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <a class="btn btn-flat" v-bind:class="{disabled: !comp__allCliniquesValid}"
                                                            v-on:click="onAddClinic()">
                                                            <i class="fas fa-plus"></i> Ajouter une clinique
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </Transition>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 pl-3">
                                <button type="button" class="btn btn-secondary btn-flat" id="btn-director-save"
                                    v-on:click="onCreateUser">
                                    <i class="fas fa-save"></i> Enregistrer
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-flat ml-3"
                                    id="btn-director-save" v-on:click="changeCollapse(-1)">
                                    <i class="fas fa-envelope-open"></i> $% shownCollapse == -1 ? 'Cacher tout' :
                                    'Afficher tout' %$
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .collapse-enter-active {
            transition: all 0.3s ease-out;
        }

        .collapse-leave-active {
            transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
        }

        .collapse-enter-from,
        .collapse-leave-to {
            transform: translateX(20px);
            opacity: 0;
        }
    </style>