{% extends 'mails/base.html.twig' %}

{% block body %}
<tr>
	<td colspan="2" style="font-family: 'ubuntu', sans-serif; text-align:center;padding:15px;font-size:18px;">Notification nouvelle demande de remplaçement</td>
</tr>
<tr>
	<td colspan="2" style="font-family: 'ubuntu', sans-serif;text-align:left;padding:15px;">
		Bonjour,
		<br><br>
		Une <b>demande de remplacement</b> en <b>{{ specialite_demande }}</b> de <b>{{ nom_demandeur }}</b> situé à <b>{{ ville_demandeur }}</b> vient d'arriver sur le site remplaclinic.
		<br><br>
		<span style="text-decoration:underline;">Dates de la demande :</span>
		<br>
		- du <b>{{ date_debut_demande }}</b> au <b>{{ date_fin_demande }}</b> inclus
		<br><br><span style="text-decoration:underline;">Rémunération :</span><br>
		{{ remuneration }}
		<br><br>
		<span style="text-decoration:underline;">Précisions sur la demande : </span>
		<br>
		{{ commentaires_demande }}
		<br><br>
		<span style="text-decoration:underline;">Sous-spécialités : </span>
		<br>
		{% for sp in specialites %}
			- {{ sp.name }}<br>
		{% endfor %}
	</td>
</tr>
<tr>
	<td style="vertical-align:middle;padding:15px;text-align:center;font-family: 'ubuntu', sans-serif;" colspan="2">
		<a href="{{ url('app_admin_request_replacement_show', { id: request_id }) }}">
			<img src="{{ asset('imgs/mails/demande.jpg') }}" alt="demande remplacement" title="Demande de remplacement" />
		</a>
	</td>
</tr>
{% endblock %}
