<div
    id="modal-detail-demande"
    class="fixed inset-0 bg-black bg-opacity-50 flex hidden items-center justify-center z-50"
    data-detail-url="{{ path('api_request_detail_more', { id: '0000000000' }) }}"
>
    <!-- Modal Content Box -->
    <div class="bg-white p-10 rounded-lg shadow-lg w-1/2">

        <!-- Modal Header -->
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl blue-span font-semibold demande-detail-title"></h2>
            <button class="text-gray-500 hover:text-gray-700 close">&times;</button>
        </div>

        <!-- Modal Body -->
        <div>
            <!-- Tabs -->
            <div class="flex gap-2">
                <button
                    class="tab-btn pr-4 py-2 text-sm font-medium border-b-2 text-[#4e4e4e] border-[#4e4e4e] hover:text-[#4e4e4e] hover:border-[#4e4e4e]"
                    data-tab="tab-infos-detail-demande">
                    Informations de la demande
                </button>
                <button
                    class="tab-btn pr-4 py-2 text-sm font-medium text-gray-600 border-b-2 border-transparent hover:text-[#4e4e4e] hover:border-[#4e4e4e]"
                    data-tab="tab-personne-contacte-detail-demande"
                    data-liste-remplacants-url="{{ path('api_request_personne_contacte_list_more', { requestId: '0000000000' }) }}"
                >
                    Liste des remplaçants contactés
                </button>
            </div>

            <!-- Content -->
            <div class="mt-4">
                <div id="tab-infos-detail-demande" class="tab-content">
                    <div class="flex gap-5">
                        <div class="flex flex-col gap-2">
                            <div><b>Spécialité</b>: <span class="demande-detail-specialite"></span></div>
                            {% if requestType is defined and requestType is not same as('installation') %}
                            <div><b>Sous spécialité</b>: <span class="demande-detail-sous_specialite"></span></div>
                            {% elseif requestType is defined and requestType is same as('installation') %}
                                <div class="flex gap-2">
                                    <div class="font-bold">Raison(s): </div>
                                    <div class="demande-detail-raison"></div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="flex flex-col gap-2">
                            <div><b>Région</b>: <span class="demande-detail-region"></span></div>
                            <div><b>Ville</b>: <span class="demande-detail-ville"></span></div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div><b>Rémunération</b>: <span class="demande-detail-remuneration"></span></div>
                            {% if requestType is defined and requestType is not same as('installation') %}
                            <div><b>Logement proposé</b>: <span class="demande-detail-logement"></span></div>
                            <div><b>Transport pris en charge</b>: <span class="demande-detail-transport"></span></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col mt-5 mb-2">
                        <div class="font-bold">Commentaire:</div>
                        <div class="max-h-[400px] py-2 overflow-y-auto demande-detail-commentaire"></div>
                    </div>
                </div>
                <div id="tab-personne-contacte-detail-demande" class="tab-content hidden">
                    <div class="flex flex-col gap-5">
                        <div class="max-h-[400px] py-2 overflow-y-auto">
                            <table id="tbl-request-replacements" class="w-full border border-gray-200 text-sm">
                                <thead class="bg-[#ebf6fc] border-[1px] border-solid border-[#86d0f0] text-[#2d8eb8]">
                                    <tr>
                                        <th scope="col" class="px-4 py-2 text-left font-semibold">
                                            Nom
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-left font-semibold">
                                            Statut
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-left font-semibold">
                                            Sous-spécialités
                                        </th>
                                        <th scope="col" class="px-4 py-2 text-left font-semibold">
                                            Etat
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="min-w-full">
                                    {% if requestRemplacants is defined and requestRemplacants.recordsTotal > 0 %}
                                        {% for row in requestRemplacants.data %}
                                        <tr class="hover:bg-[#fff5e9] border-b {{ loop.index % 2 ? '' : 'bg-gray-50' }}">
                                            <td class="px-4 py-2">{{ row.user.name }}</td>
                                            <td class="px-4 py-2">{{ row.user.current_speciality }}</td>
                                            <td class="px-4 py-2 max-w-[60%]">{{ row.user.sous_specialite }}</td>
                                            <td class="px-4 py-2">{{ row.statut }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr class="hover:bg-[#fff5e9] border-b">
                                            <td class="px-4 py-2" colspan="4">Pas de remplaçant contacté</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tbl-request-replacements-pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 flex">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded close">
               Fermer
            </button>
        </div>
    </div>
</div>