{% extends 'base-page-espace-perso.html.twig' %}

{% block title %}
Mes demandes de remplacement | Remplaclinic
{% endblock %}

{% block importmap %}
{{ importmap('mes-demandes') }}
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Mes demandes de remplacement</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-2">
        <div class="flex items-end">
            <div class="flex flex-col justify-end">
                <label for="mes-demandes-filtre-statut">Filtrer par statut</label>
                <select id="mes-demandes-filtre-statut" name="statut" class="form-text px-1 py-2 w-64 outline-none form-signup-element">
                    <option value="all" {% if params.status is not defined %} selected="selected" {% endif %}>- Aucun -</option>
                    <option value="0" {% if params.status is defined and params.status is same as (0) %} selected="selected" {% endif %}>A valider</option>
                    <option value="2" {% if params.status is defined and params.status is same as (2) %} selected="selected" {% endif %}>Archivé</option>
                    <option value="1" {% if params.status is defined and params.status is same as (1) %} selected="selected" {% endif %}>En cours</option>
                </select>
            </div>
            <div class="flex items-center pl-2">
                <a class="text-xl form-submit text-white pt-1 pb-1 pr-10 pl-10" href="{{ path('app_user_espace_perso') }}">
                    Appliquer
                </a>
            </div>
        </div>
        <div class="mes-demandes-container mt-5 flex flex-col gap=5">
            <div>
                <table class="w-full border border-gray-200 text-sm">
                    <thead class="bg-[#ebf6fc] border-[1px] border-solid border-[#86d0f0] text-[#2d8eb8]">
                        <tr>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Détail
                            </th>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Demande
                            </th>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Date de la demande
                            </th>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Spécialité
                            </th>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Période
                            </th>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Nombre de postes
                            </th>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Etat
                            </th>
                            <th scope="col" class="px-4 py-2 text-left font-semibold">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="min-w-full">
                        {% if requests.recordsTotal > 0 %}
                            {% for row in requests.data %}
                            <tr class="hover:bg-[#fff5e9] border-b {{ loop.index % 2 ? '' : 'bg-gray-50' }}">
                                <td class="px-4 py-2">
                                    <div class="flex justify-center items-center">
                                        <a href="#" class="block h-10 w-10 loupe-detail-demande modal-detail-demande-activator" data-id="{{ row.request.id }}"></a>
                                    </div>
                                </td>
                                <td class="px-4 py-2">
                                    <span class="blue-span cursor-pointer modal-detail-demande-activator" data-id="{{ row.request.id }}">{{ row.request.title }}</span>
                                </td>
                                <td class="px-4 py-2">{{ row.request.createdAt|date('d/m/Y') }}</td>
                                <td class="px-4 py-2">{{ row.request.speciality.name }}</td>
                                <td class="px-4 py-2">{{ row.request.startedAt|date('d/m/Y') }} - {{ row.request.endAt|date('d/m/Y') }}</td>
                                <td class="px-4 py-2">{{ row.request.positionCount }}</td>
                                <td class="px-4 py-2">{{ row.request.statusAsText }}</td>
                                <td class="px-4 py-2">
                                    {% if row.request.status is not same as(2) %}
                                        <a class="form-submit text-white py-1 px-4">
                                            Clôturer
                                        </a>
                                    {% else %}
                                        <span>Clôturée</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="hover:bg-[#fff5e9] border-b">
                                <td class="px-4 py-2" colspan="8">Pas de demande en cours</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if requests.recordsTotal > params.limit %}
                <div id="tbl-mes-demandes-pager">
                    {{ pagination_view(requests.recordsTotal, params) }}
                </div>
            {% endif %}
        </div>
        <div class="mes-demandes-footer mt-5">
            <div class="footer-message bg-[#68b8dc] border-solid border border-[#d2d2d2] p-4">
                <p class="my-2">Pour effectuer une nouvelle demande de remplacement, contactez-nous par téléphone au <span class="text-red-500 text-xl">04 72 14 07 40</span> ou par mail à <span class="text-red-500 text-xl">contact@remplaclinic.com</span>.</p>
                <p class="my-4">Un tarif personnalisé adapté à la taille de votre cabinet médical ou de votre établissement de santé vous sera proposé.</p>
                <p class="my-4">Si vous avez un abonnement Remplaclinic en cours, contactez directement votre interlocuteur privilégié.</p>
            </div>
        </div>
    </div>

    {% include 'espace-perso/mes-demandes/_detail-demande.html.twig' with { requestType: 'replacement' } %}
</div>
{% endblock %}