{% extends 'admin-datatable.html.twig' %}

{% block title %}
Remplaclinic :: Admin :: Région
{% endblock %}

{% block page_title %}
Région
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <a class="btn btn-secondary btn-flat" id="btn-region-new"
                                    data-url="{{ path('api_region_new') }}">
                                    <i class="fas fa-plus"></i> Ajouter une région
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="tbl-specilities" class="table table-hover"
                                    data-url="{{ path('api_region_get') }}"
                                    data-delete-url="{{ path('api_region_delete', {id: '0000000000'}) }}"
                                    data-detail-url="{{ path('api_region_detail', {id: '0000000000'}) }}"
                                    data-edit-url="{{ path('api_region_update', {id: '0000000000'}) }}">
                                    <thead>
                                        <tr>
                                            <th>#ID</th>
                                            <th>#Region</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="modal fade" id="region-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-secondary">
                                <h4 class="modal-title">Détail d'une région</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Annuler">
                                    <span aria-hidden="true" class="text-white">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="region-form-detail" class="needs-validation" novalidate>
                                    <div class="form-group">
                                        <label for="region-name">Nom de la région</label>
                                        <input type="text" class="form-control" id="region-name"
                                            placeholder="Nome de la région" required name="name">
                                        <div class="invalid-feedback">
                                            Une région doit avoir un nom
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">
                                    <i class="fas fa-times"></i> Annuler
                                </button>
                                <button type="button" class="btn btn-secondary btn-flat" id="btn-region-detail-save">
                                    <i class="fas fa-save"></i> Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
{{ parent() }}
<script src="{{ versioned_asset('admin/custom/js/region.js') }}"></script>
{% endblock %}