{% extends 'admin-datatable.html.twig' %}

{% block title %}
Remplaclinic :: Admin :: Tache recurrent
{% endblock %}

{% block page_title %}
Tache recurrent
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="btn-group mr-3">
                                    <button type="button" class="btn btn-default btn-flat">Action multiple</button>
                                    <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon"
                                        data-toggle="dropdown">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item btn-delete" href="#"
                                            data-url="{{ path('api_admin_taches_delete_multiple', {tachePage: 'scheduler'}) }}" data-multiple="true"
                                            data-selector=".taches-schedulers-selection">Supprimer</a>
                                    </div>
                                </div>

                                <a class="btn btn-secondary btn-flat mr-3" id="btn-taches-schedulers-new"
                                    data-url="{{ path('api_admin_taches_schedulers_create') }}">
                                    <i class="fas fa-plus"></i> Ajouter un job
                                </a>

                                <a class="btn btn-default btn-flat" id="btn-taches-schedulers-generate"
                                    data-url="{{ path('api_admin_taches_generate_default', { tachePage: 'scheduler' }) }}">
                                    <i class="fas fa-copy"></i> Generer les jobs par defaut
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="tbl-taches-schedulers" class="table table-hover"
                                        data-url="{{ path('api_admin_taches_list', { tachePage: 'scheduler' }) }}"
                                        data-delete-url="{{ path('api_admin_taches_delete', {id: '0000000000', tachePage: 'scheduler'}) }}"
                                        data-detail-url="{{ path('api_admin_taches_detail', {id: '0000000000', tachePage: 'scheduler'}) }}"
                                        data-execute-url="{{ path('api_admin_taches_execute', {id: '0000000000', tachePage: 'scheduler'}) }}"
                                        style="width: 100%;"
                                    >
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="custom-control custom-checkbox">
                                                        <input
                                                            class="custom-control-input custom-control-input-secondary checkbox-selection-tout"
                                                            type="checkbox" id="taches-schedulers-selection-tout"
                                                            data-selector=".taches-schedulers-selection">
                                                        <label for="taches-schedulers-selection-tout"
                                                            class="custom-control-label"></label>
                                                    </div>
                                                </th>
                                                <th>#ID</th>
                                                <th>#Libellé</th>
                                                <th>#Script</th>
                                                <th>#Options</th>
                                                <th>#Temps</th>
                                                <th>#Execute le</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="modal fade" id="taches-schedulers-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-secondary">
                                <h4 class="modal-title">Détail d'un scheduler</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Annuler">
                                    <span aria-hidden="true" class="text-white">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="taches-schedulers-form-detail" class="needs-validation" novalidate>
                                    <div class="form-group">
                                        <label for="taches-schedulers-label">Libellé *</label>
                                        <input type="text" class="form-control" id="taches-schedulers-label"
                                            placeholder="MAJ d'abonnement" required name="label">
                                        <div class="invalid-feedback">
                                            Un scheduler doit avoir un libellé
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="taches-schedulers-script">Le script *</label>
                                        <input type="text" class="form-control" id="taches-schedulers-script"
                                            placeholder="Le script sans bin/console (e.g: app:user-abonnement)" required name="script">
                                        <div class="invalid-feedback">
                                            Le script est obligatoire
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="taches-schedulers-options">Les options</label>
                                        <input type="text" class="form-control" id="taches-schedulers-options"
                                            placeholder="Les options du script separé par virgule (double le virgule si dans une valeur)" name="options">
                                        <div class="invalid-feedback">
                                            Les options ne sont pas valide
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="taches-schedulers-time">Temps (e.g: every minute = * * * * * *)</label>
                                        <input type="text" class="form-control" id="taches-schedulers-time"
                                            placeholder="* * * * * *" required name="time">
                                        <div class="invalid-feedback">
                                            Le temps n'est pas valide
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">
                                    <i class="fas fa-times"></i> Annuler
                                </button>
                                <button type="button" class="btn btn-secondary btn-flat" id="btn-taches-schedulers-detail-save">
                                    <i class="fas fa-save"></i> Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
{{ parent() }}
<script type="module" src="{{ versioned_asset('admin/custom/js/taches-schedulers.js') }}"></script>
{% endblock %}