<div id="modal-detail-demande" class="fixed inset-0 bg-black bg-opacity-50 flex hidden items-center justify-center z-50">
    <!-- Modal Content Box -->
    <div class="bg-white p-10 rounded-lg shadow-lg w-1/2">

        <!-- Modal Header -->
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl blue-span font-semibold demande-detail-title">Demande de remplacement du 26/01/2026 au 30/01/2026</h2>
            <button class="text-gray-500 hover:text-gray-700 close">&times;</button>
        </div>

        <!-- Modal Body -->
        <div>
            <!-- Tabs -->
            <div class="flex gap-2">
                <button
                    class="tab-btn pr-4 py-2 text-sm font-medium border-b-2 text-[#4e4e4e] border-[#4e4e4e] hover:text-[#4e4e4e] hover:border-[#4e4e4e]"
                    data-tab="tab-infos-detail-demande">
                    Informations de la demande
                </button>
                <button
                    class="tab-btn pr-4 py-2 text-sm font-medium text-gray-600 border-b-2 border-transparent hover:text-[#4e4e4e] hover:border-[#4e4e4e]"
                    data-tab="tab-personne-contacte-detail-demande">
                    Liste des remplaçants contactés
                </button>
            </div>

            <!-- Content -->
            <div class="mt-4">
                <div id="tab-infos-detail-demande" class="tab-content">
                    <div class="flex gap-3">
                        <div class="flex flex-col gap-2">
                            <div><b>Spécialité</b>: <span class="demande-detail-specialite">Soins</span></div>
                            <div><b>Sous spécialité</b>: <span class="demande-detail-sous_specialite">Soins de suite et réadaptation</span></div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div><b>Région</b>: <span class="demande-detail-region">Languedoc-Roussillon</span></div>
                            <div><b>Ville</b>: <span class="demande-detail-ville">Saint Clément de Rivière (MONTPELLIER)</span></div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div><b>Rémunération</b>: <span class="demande-detail-ville">de 70 000 à 75 000 euros brut / an &euro;</span></div>
                            <div><b>Logement proposé</b>: <span class="demande-detail-region">Non</span></div>
                            <div><b>Transport pris en charge</b>: <span class="demande-detail-ville">Non</span></div>
                        </div>
                    </div>
                    <div class="flex flex-col mt-5 mb-2">
                        <div class="font-bold">Commentaire:</div>
                        <div class="max-h-[400px] py-2 overflow-y-auto">
                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong>REMPLACEMENT&nbsp;1 SEMAINE A TEMPS PLEIN EN MÉDECINE GÉNÉRALE EN CLINIQUE PSYCHIATRIQUE EN PÉRIPHÉRIE DE MONTPELLIER (34)</strong></span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">L’établissement de psychiatrie générale, situé en périphérie de Montpellier, est implanté au cœur d’un agréable parc arboré de 4 hectares. Il offre à ses patients un accueil de qualité dans un environnement privilégié.</span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Notre clinique psychiatrique assure le suivi psychiatrique et le traitement psychothérapeutique des maladies psychiques de l’adulte et dispose également d’un service d’hospitalisation dédié aux adolescents âgés de 12 à 18 ans.</span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Notre équipe médicale expérimentée dans les différents secteurs de la pathologie mentale et des suivis thérapeutiques, collabore avec un réseau de soins, en vue d’une prise en charge globale du patient.</span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">L’établissement recherche, dans le cadre de congés :</span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong>1 MÉDECIN&nbsp;GÉNÉRALISTE</strong>&nbsp;(H/F) <strong>DU 26 JANVIER AU 30 JANVIER 2026</strong></span></span></p>

                            <ul>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong>CDD temps plein</strong></span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong>Astreintes possibles (facultatives) pour suivi somatique</strong></span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong>Rémunération négociable, de 70 000 à 75 000 euros brut / an</strong></span></span></li>
                            </ul>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">La Clinique dispose d’une capacité d’accueil de :</span></span></p>

                            <ul>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong>107 lits de psychiatrie générale</strong>&nbsp;en service libre de court séjour pour adultes, les patients autonomes sont accueillis dès l’âge de 18 ans.</span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong>14 lits de psychiatrie infanto-juvénile</strong>&nbsp;pour les adolescents de 12 à 18 ans.</span></span></li>
                            </ul>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><u>PATHOLOGIES TRAITÉES</u></span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Le projet thérapeutique privilégie la relation de soins dans la prise en charge des différentes pathologies et notamment :&nbsp;</span></span></p>

                            <ul>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Les troubles de l'humeur (dépression, bipolarité)</span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Les troubles anxieux</span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Les pathologies en lien avec une dysrégulation émotionnelle</span></span></li>
                            </ul>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><u>ÉQUIPE MÉDICALE</u>&nbsp;:</span></span></p>

                            <ul>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Un médecin généraliste travaillant les lundis, mardis&nbsp;et jeudis (en congés)</span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Des médecins psychiatres libéraux</span></span></li>
                            </ul>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><u>MISSIONS</u> :&nbsp;</span></span></p>

                            <ul>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Activité somatique,</span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Consultations d'admissions</span></span></li>
                            </ul>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><u>PROFIL</u> :&nbsp;</span></span></p>

                            <ul>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Médecin Généraliste thésé</span></span></li>
                                <li><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Expérience en Clinique Psychiatrique idéalement</span></span></li>
                            </ul>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><u>ACCÈS</u>&nbsp;:</span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif">Clinique située en périphérie Nord de Montpellier, à 30 minutes de la mer</span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><em>La Direction de la Clinique se tient à votre disposition pour toutes précisions complémentaires.</em></span></span></p>

                            <p><span style="font-size:11pt"><span style="font-family:Aptos,sans-serif"><strong><em>Médecin inscrit au Conseil de l’Ordre en France impératif</em></strong></span></span></p>
                        </div>
                    </div>
                </div>
                <div id="tab-personne-contacte-detail-demande" class="tab-content hidden">
                    <div class="flex flex-col gap-5">
                        <table id="tbl-request-replacements" class="w-full border border-gray-200 text-sm">
                            <thead class="bg-[#ebf6fc] border-[1px] border-solid border-[#86d0f0] text-[#2d8eb8]">
                                <tr>
                                    <th scope="col" class="px-4 py-2 text-left font-semibold">
                                        Nom
                                    </th>
                                    <th scope="col" class="px-4 py-2 text-left font-semibold">
                                        Statut
                                    </th>
                                    <th scope="col" class="px-4 py-2 text-left font-semibold">
                                        Sous-spécialités
                                    </th>
                                    <th>
                                        Etat
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="min-w-full">
                                {% if requestRemplacants is defined and requestRemplacants.recordsTotal > 0 %}
                                    {% for row in requestRemplacants.data %}
                                    <tr class="hover:bg-[#fff5e9] border-b {{ loop.index % 2 ? '' : 'bg-gray-50' }}">
                                        <td class="px-4 py-2">{{ row.prenom }}</td>
                                        <td class="px-4 py-2">{{ row.statut_name }}</td>
                                        <td class="px-4 py-2 max-w-[60%]">{{ row.sous_specialite }}</td>
                                        <td class="px-4 py-2">{{ row.status }}</td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr class="hover:bg-[#fff5e9] border-b">
                                        <td class="px-4 py-2" colspan="4">Pas de remplaçant contacté</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% if requestRemplacants is defined and requestRemplacantsParams is defined and requestRemplacants.recordsTotal > requestRemplacantsParams.limit %}
                            <div id="tbl-request-replacements-pager">
                                {{ pagination_view(requests.recordsTotal, params) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4 flex">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded close">
               Fermer
            </button>
        </div>
    </div>
</div>