{% extends 'base-page-register.html.twig' %}

{% block title %}
Inscription | Remplaclinic
{% endblock %}

{% block page_nav %}
<h1 class="blue-span text-3xl py-[10px]">Inscription</h1>
{% endblock %}

{% block article_content %}
<div class="pt-7">
    <div class="flex flex-col gap-10 w-[830px] mr-14">
        <div class="flex flex-col">
            <h2 class="py-2 text-xl">Vous représentez :</h2>
            <div class="flex flex-row gap-16 pl-5">
                <div class="text-center blue-span">
                    <a href="{{ path('app_register_service_clinic') }}" class="picto-service-clinique">
                        Un service d'une clinique</a>
                </div>

                <div class="text-center blue-span">
                    <a href="{{ path('app_register_clinic') }}" class="picto-clinique">
                        Une clinique</a>
                </div>

                <div class="text-center blue-span">
                    <a href="{{ path('app_contacts_register_group_clinic') }}" class="picto-group"></a>
                    <a href="{{ path('app_contacts_register_group_clinic') }}">
                        Un groupement de cliniques
                    </a>
                </div>

                <div class="text-center blue-span">
                    <a href="{{ path('app_register_doctor') }}" class="picto-cabinet-medical">
                        Un cabinet médical
                    </a>
                </div>
            </div>
        </div>
        <div>
            <h2 class="py-2 text-xl">Vous êtes :</h2>
            <div class="text-center blue-span">
                <a href="{{ path('app_register_replacement') }}" class="picto-remplacant">
                    <span class="blue-span">Un remplaçant</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}