<div class="overflow-x-auto w-full flex flex-col gap-4">
	<div class="flex flex-row justify-start">
		<div>
			<input type="search" name="search" placeholder="Region ou spécialité..."
				class="outline-none border-solid border-[1px] border-[#eaeaea] p-2" id="tbl-search-replacements-search"  value="{{ params.search is defined ? params.search : '' }}">
		</div>
	</div>
	<table id="tbl-search-replacements" class="w-full border border-gray-200 text-sm">
		<thead class="bg-[#ebf6fc] border-[1px] border-solid border-[#86d0f0] text-[#2d8eb8]">
			<tr>
				<th scope="col" class="px-4 py-2 text-left font-semibold">
					Prénom
				</th>
				<th scope="col" class="px-4 py-2 text-left font-semibold">
					Statut
				</th>
				<th scope="col" class="px-4 py-2 text-left font-semibold">
					Sous-spécialités
				</th>
			</tr>
		</thead>
		<tbody class="min-w-full">
			{% for row in result.data %}
			<tr class="w-[400px] hover:bg-[#fff5e9] border-b {{ loop.index % 2 ? '' : 'bg-gray-50' }}">
				<td class="px-4 py-2">{{ row.prenom }}</td>
				<td class="px-4 py-2">{{ row.statut_name }}</td>
				<td class="px-4 py-2 max-w-[60%]">{{ row.sous_specialite }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="tbl-search-replacements-pager">
		{{ pagination_view(result.totalRecords, params) }}
	</div>
</div>