<div class="row" id="root"
    data-detail-url="{{ path('api_request_detail', {id: request.id}) }}"
    data-update-url="{{ path('api_request_installation_update', {id: request.id}) }}"
>
    <div class="col-12">
        <div class="card">
            <div class="card-body" ref="formEl" data-applicant-url="{{ path('api_user_liste_select') }}">
                <div class="row">
                    <div class="col-12">
                        <div class="text-right">
                            <a
                                class="btn btn-flat"
                                v-bind:class="{'btn-secondary': formNavigationTab.active === 'modifier'}"
                                v-on:click="onChangeNavigationTab('modifier')"
                            >
                                Modifier
                            </a>
                            <a
                                class="btn btn-flat"
                                v-bind:class="{'btn-secondary': formNavigationTab.active === 'date-envoi'}"
                                v-on:click="onChangeNavigationTab('date-envoi')"
                            >
                                Date des envois
                            </a>
                            <a
                                class="btn btn-flat"
                                v-bind:class="{'btn-secondary': formNavigationTab.active === 'personne-contacte'}"
                                v-on:click="onChangeNavigationTab('personne-contacte')"
                            >
                                Liste des personnes contactées
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    v-if="formNavigationTab.active === 'modifier'"
                    class="row justify-content-center"
                >
                    <div class="col-10 mt-3">
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <label for="request-title">Titre *</label>
                                    <input type="text" class="form-control" id="request-title"
                                        v-model="requestData.title" :class="getErrorClass('title')">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="request-status">Statut *</label>
                                    <select
                                        class="form-control"
                                        id="request-status"
                                        v-model="requestData.status"
                                        :class="getErrorClass('status')"
                                    >
                                        <option :value="null">- Aucun -</option>
                                        <option value="0">A valider</option>
                                        <option value="1">En cours</option>
                                        <option value="2">Archivé</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="request-applicant">Demandeur *</label>
                                    <select
                                        class="form-control"
                                        id="request-applicant"
                                        v-model="requestData.applicant"
                                    >
                                        <option></option>
                                    </select>
                                    <div class="text-danger" v-if="getErrorClass('applicant') === 'is-invalid'">Choisir
                                        un demandeur</div>
                                </div>
                                <div class="form-group">
                                    <label for="request-speciality">Spécialité *</label>
                                    <twig:SelectSpeciality class="form-control select2-input" id="request-speciality"
                                        v-model="requestData.speciality">
                                        <option></option>
                                    </twig:SelectSpeciality>
                                    <div class="text-danger" v-if="getErrorClass('speciality') === 'is-invalid'">Choisir
                                        une spécialité</div>
                                </div>
                                <div class="form-group">
                                    <label for="request-region">Mobilité *</label>
                                    <twig:SelectRegion class="form-control select2-input" id="request-region"
                                        v-model="requestData.region">
                                        <option></option>
                                    </twig:SelectRegion>
                                    <div class="text-danger" v-if="getErrorClass('region') === 'is-invalid'">Choisir une
                                        région</div>
                                </div>
                            </div>
                            <div class="col-6 pl-5">
                                <div class="form-group">
                                    <label for="request-remuneration">Salaire (en €) ou Chiffre d'affaires potentiel</label>
                                    <input type="text" class="form-control" id="request-remuneration"
                                        v-model="requestData.remuneration">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="request-started-at">Date de début *</label>
                                    <div class="input-group date" id="request-started-at" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#request-started-at" id="request-started-at-input"
                                            v-model="requestData.startedAt" autocomplete="off" />
                                        <div class="input-group-append" data-target="#request-started-at"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="text-danger" v-if="getErrorClass('startedAt') === 'is-invalid'">Choisir
                                        une date</div>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="request-end-at">Date de fin</label>
                                    <div class="input-group date" id="request-end-at" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                            data-target="#request-end-at" id="request-end-at-input"
                                            v-model="requestData.endAt" autocomplete="off" />
                                        <div class="input-group-append" data-target="#request-end-at"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="text-danger" v-if="getErrorClass('endAt') === 'is-invalid'">Choisir
                                        une date</div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12">
                                <div>
                                    <label>Raison *</label>
                                </div>
                                <div class="form-check" v-for="raison in raisons" :key="raison.id">
                                    <input class="form-check-input" type="checkbox"
                                        :id="'request-raison-' + raison.id" :value="raison.label"
                                        v-model="requestData.raison">
                                    <label class="form-check-label" :for="'request-raison-' + raison.id">
                                        $% raison.label %$
                                    </label>
                                </div>
                                <div class="form-group" v-if="otherChoosen">
                                    <input type="text" class="form-control" id="request-raison-value"
                                    v-model="requestData.raisonValue">
                                </div>
                                <div v-if="getErrorClass('raison') === 'is-invalid'" class="text-danger">
                                    Choisir une raison
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="request-comment">Commentaire</label>
                                    <textarea class="form-control editor" id="request-comment" rows="10"
                                        v-model="requestData.comment"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-secondary btn-flat" id="btn-request-save"
                                    v-on:click="onSaveRequest">
                                    <i class="fas fa-save"></i> Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    v-if="formNavigationTab.active === 'date-envoi'"
                    class="row justify-content-center"
                >
                    <div class="col-10">
                        <div
                            class="d-flex align-center py-2"
                            v-for="dateEnvoi in requestDateEnvois"
                        >
                            <div>
                                <span class="fas fa-check bg-gray p-1"></span>
                            </div>

                            <div class="ml-4">
                                <span>$% dateEnvoi %$</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    v-if="formNavigationTab.active === 'personne-contacte'"
                    class="row justify-content-center"
                >
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <select
                                        class="form-control"
                                        id="request-user-new"
                                        data-url="{{ path('api_request_personne_contacte_missing', {requestId: request.id}) }}"
                                        v-model="personneContacteNew"
                                    >
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <button
                                    class="btn btn-flat btn-secondary"
                                    :disabled="!personneContacteNew"
                                    v-on:click="onAddMissingRequest"
                                    data-url="{{ path('api_request_personne_contacte_add', {requestId: request.id}) }}"
                                >Valider</button>

                                <div class="btn-group ml-3">
                                    <button type="button" class="btn btn-default btn-flat">Action multiple</button>
                                    <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon"
                                        data-toggle="dropdown">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item" href="#">Accepter</a>
                                        <a class="dropdown-item" href="#">Plus d'infos</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item btn-delete" href="#"
                                            data-url="{{ path('api_request_personne_contacte_delete_multiple', {requestId: request.id}) }}" data-multiple="true"
                                            data-selector=".personne-contacte-selection">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="tbl-personne-contacte" class="table table-hover"
                                    data-list-url="{{ path('api_request_personne_contacte_list', { requestId: request.id }) }}"
                                    data-delete-url="{{ path('api_request_personne_contacte_delete', { requestId: request.id, id: '0000000000' }) }}"
                                >
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="custom-control custom-checkbox">
                                                    <input
                                                        class="custom-control-input custom-control-input-secondary checkbox-selection-tout"
                                                        type="checkbox" id="personne-contacte-selection-tout"
                                                        data-selector=".personne-contacte-selection">
                                                    <label for="personne-contacte-selection-tout"
                                                        class="custom-control-label"></label>
                                                </div>
                                            </th>
                                            <th>#Id</th>
                                            <th>#Nom</th>
                                            <th>#Prénom</th>
                                            <th>#Spécialité</th>
                                            <th>#Statut</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>