{% extends 'admin-datatable.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('admin/plugins/datepicker/css/bootstrap-datepicker3.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
{% endblock %}

{% block title %}
Remplaclinic :: Admin :: Proposition d'installation
{% endblock %}

{% block page_title %}
Proposition d'installation
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="btn-group mr-3">
                            <button type="button" class="btn btn-default btn-flat">Action multiple</button>
                            <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon"
                                data-toggle="dropdown">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#">Valider</a>
                                <a class="dropdown-item" href="#">Renvoyer</a>
                                <a class="dropdown-item" href="#">Relancer le demandeur</a>
                                <a class="dropdown-item" href="#">Cloturer</a>
                                <a class="dropdown-item" href="#">Archiver</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item btn-delete" href="#"
                                    data-url="{{ path('api_request_delete_multiple') }}" data-multiple="true"
                                    data-selector=".request-selection">Supprimer</a>
                            </div>
                        </div>

                        <a class="btn btn-secondary btn-flat" id="btn-request-installation-new"
                            href="{{ path('app_admin_request_installation_new') }}">
                            <i class="fas fa-plus"></i> Ajouter une proposition d'installation
                        </a>

                        <a class="btn btn-default btn-flat ml-3" id="btn-request-search">
                            <i class="fas fa-search"></i>
                            <span class="mx-1">Filtrer la liste</span>
                            <span class="badge badge-secondary" id="filtre-request-counter">0</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="tbl-requests" class="table table-hover"
                                data-url="{{ path('api_request_installation_get') }}"
                                data-delete-url="{{ path('api_request_delete', {id: '0000000000'}) }}"
                                data-detail-url="{{ path('app_admin_request_installation_show', {id: '0000000000'}) }}"
                                data-validate-url="{{ path('app_admin_request_taf_execute', {requestId: '0000000000', requestType: 'installation', eventName: 'demande:validation'}) }}"
                                data-resend-url="{{ path('app_admin_request_taf_execute', {requestId: '0000000000', requestType: 'installation', eventName: 'demande:renvoie'}) }}"
                                data-resend-applicant-url="{{ path('app_admin_request_taf_execute', {requestId: '0000000000', requestType: 'installation', eventName: 'demande:relance'}) }}"
                                data-close-url="{{ path('app_admin_request_taf_execute', {requestId: '0000000000', requestType: 'installation', eventName: 'demande:cloturation'}) }}"
                                data-clinic-url="{{ path('app_admin_clinic_show', {id: '0000000000'}) }}"
                                data-doctor-url="{{ path('app_admin_doctor_show', {id: '0000000000'}) }}"
                                style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="custom-control custom-checkbox">
                                                <input
                                                    class="custom-control-input custom-control-input-secondary checkbox-selection-tout"
                                                    type="checkbox" id="request-selection-tout"
                                                    data-selector=".request-selection">
                                                <label for="request-selection-tout"
                                                    class="custom-control-label"></label>
                                            </div>
                                        </th>
                                        <th>#ID</th>
                                        <th>#STATUT</th>
                                        <th>#TYPE</th>
                                        <th>#DEMANDEUR</th>
                                        <th class="text-uppercase">#Spécialité</th>
                                        <th>#DATE DE PUBLICATION</th>
                                        <th>#DATE D'INSTALLATION</th>
                                        <th class="text-uppercase">#Date dernières envois</th>
                                        <th class="text-uppercase">#Nombres de réponses</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include 'admin/request/_installation-search-modal.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyjs %}
{{ parent() }}
<script src="{{ asset('admin/plugins/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('admin/plugins/select2/js/select2.full.min.js') }}"></script>
<script src="{{ versioned_asset('admin/custom/js/request.js') }}"></script>
{% endblock %}