{% extends 'admin-datatable.html.twig' %}

{% block title %}
Remplaclinic :: Admin :: Nouvelle proposition d'installation
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('admin/libs/vue.global.prod.js') }}"></script>
{% endblock %}


{% block page_title %}
<a class="btn btn-secondary btn-flat" id="btn-request-list" href="{{ path('app_admin_request_installation') }}">
    <i class="fas fa-arrow-left"></i> Retourner
</a>
Nouvelle proposition d'installation
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('admin/plugins/datepicker/css/bootstrap-datepicker3.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
<link rel="stylesheet" href="{{ asset('admin/plugins/summernote/summernote-bs4.min.css') }}">
{% endblock %}

{% block body %}
    {% include 'admin/request/_form-installation.html.twig' %}
    {% include 'admin/request/_form-select-user.html.twig' %}
{% endblock %}

{% block bodyjs %}
{{ parent() }}
<script src="{{ asset('admin/plugins/select2/js/select2.full.min.js') }}"></script>
<script src="{{ asset('admin/plugins/summernote/summernote-bs4.min.js') }}"></script>
<script src="{{ asset('admin/plugins/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ versioned_asset('admin/custom/js/request-installation-new.js') }}"></script>
{% endblock %}